html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a:link a:visited a:active {
    color:aqua;
}

@media screen and (max-width: 600px) {
    #crisisbtn{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #headertitle {
        text-align: center;
    }
    #footer {
        position: fixed;
        width: 100%;
        bottom: 0px;
    }
}

#helpbtn {
    float: right;
    margin-right: 20px;

}

    #helpbtn:hover {
        background-color: #ffd6ff;
    }

@font-face {
    font-family: 'Comic Sans MS';
    src: url(/media/HeyComic.ttf) format('truetype');
}