@page
@model Test9.Pages.CrisisPageModel
@{
}

<body style="font-family: fantasy; background-color:#E7C6FF; font-weight:bolder;">
    <div>
        <audio src="~/media/GJoeBackgroundMusic.mp3" autoplay="autoplay" loop="loop" controls style="width: 100px;"></audio>
        <p>Mute if needed</p>
    </div>

</body>